* {
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

body {
    display: flex;
    overflow: hidden;
}

#background {
    height: 100vh;
    width: auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.above, .below {
    margin: 20px;
}

.form {
    padding: 20px;
}