* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    overflow: hidden;
}

#background {
    height: 100vh;
    width: auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    font-size: 1.5rem;
}

.remote-text {
    margin: 40px 0;
}

.above, .below {
    margin: 20px;
    font-size: 1.5rem;
}

.above {

}

.form {
    padding: 20px;
    background-color: white;
}